name: Build ZX Spectrum Project

on:
  push:
    branches: [ main, master ]
    tags:
      - 'v[0-9]+.[0-9]+.[0-9]+'
  pull_request:
    branches: [ main, master ]

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/alexanderk23/zx-tools-image:latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Build project
      run: |
        make

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: example-build
        path: |
          *.tap
          *.trd
          *.scl
          *.zip

    - name: Release
      uses: softprops/action-gh-release@v2
      if: startsWith(github.ref, 'refs/tags/')
      with:
        draft: true
        files: |
          *.tap
          *.trd
          *.scl
          *.zip
